.root{
	
	-fx-background-color : white;
	
}

.button{
	
	-fx-background-color : white;
	-fx-border-color : aqua;
	
}

.button:hover{
	
	-fx-border-color : aqua;	
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	
}

.label{
	
	-fx-font-size : 10pt;
	
}

.textfield:focused{
	
	-fx-effect : dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
	
}