.root{
	
	-fx-background-color : white;
	
}

.label{
	
	-fx-font-size : 8pt;
	-fx-alignment : center;
	
}

.button{
	
	-fx-background-color : white;
	-fx-border-color : white;
	-fx-alignment : center;
	
}

.button:hover{
	
	-fx-border-color : aqua;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	
}

.button:pressed{
	
	-fx-border-color : aqua;
	-fx-effect : innershadow( three-pass-box , rgba(0,0,0,0.6) , 5, 5 , 5 , 5 );
	
}